{% extends 'base.html' %}\ {% load crispy_forms_tags %} {% block content %}

<div class = "top-logo bg-info">
  <h1>Log Out Page</h1>
  <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
</div><br><br>
<div class="body container-fluid container">
  <h2 class="text-center">You have successsfully logged out</h2><br>
  <h6 class="text-center "><a href="{% url 'login' %}"><input
    type="submit"
    value="Login Again"
    class="btn btn-info btn-lg"
    type="button"
/></a></h6>
</div>
{% endblock %}
