{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<br />
<h1 class="text-center">Register With Us</h1>
<br />

<div class="container">
  <form method="POST">
    {% csrf_token %} {{form | crispy}}
    <input
      type="submit"
      name="Submit"
      class="btn btn-info btn-lg btn-block"
      type="button"
    /> <br>
    <h5 style = "color: white">Already have an account yet?</h5>
    <a style = "color: white;font-size: 13px" href="{% url 'login'%}">Login here</a>
  </form>
</div>
{% endblock %}
