html,body {
  position: relative;
  overflow-x: hidden;
}

body{
  background-color: hsl(0, 0%, 98%);
 
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: hsl(0, 0%, 30%);
  }
  
  .box-element {
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
  }

  .patient-row {
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
  }
  
  label{
    font-family: 'montserrat';
    color: black;
    font-size: 13px !important; 
  }
  
  .navbar-brand {
    margin-left: 70px;
    font-family: 'montserrat';
  }
  
  .navbar-nav li a{
    font-size: 15x !important; 
  }
  
  .navbar{
    padding: 0px 0px; 
  
  }
  
  .home-text {
    font-family: 'montserrat';
  }

  .register-background {
  background: url('/static/images/home-img.jpg');
  width: 100% !important;
  height: 100vh;
  display: table;
  position: relative;
  background-position: center;
  background-attachment: scroll;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  }
  
  
  .top-logo {
    text-align: center;
    padding-top: 30px;
    font-family: 'montserrat';
    height: 200px;
    
  }
  
  .top-logo  h1{
    color: #fff;
    font-size: 50px;
  }
  
  .top-logo  h5{
    color: #fff;
    font-size: 20px;
  }

  .fa {
    font-size: 80px;
    
  }

 
  .card img {
    margin-top: 10px;
  }

  .card-title {
    font-family: 'montserrat';
    font-size: 18px;
  }

  .service h1,h4 {
    
    width: 50%;
    margin: 0 auto;
    font-family: 'montserrat';
  }

  .specialty h1, h4 {
  
    width: 50%;
    margin: 0 auto;
    font-family: 'montserrat';

  }

  .home h5 {
    font-family: 'montserrat';
  }

  #map {
    width: 100%;
    height: 100vh;
    background-color: grey;
  }

  input:focus{
    outline: none;
  }
 
  .login-container {
    padding: 50px;
  }
  
  .register-form {
    
    width: 100%;
    padding: 20px;
    border:1px solid whitesmoke;
    color: black;
  }

  .search-form form{
    color: black;
    margin: 0 auto;
    width: 60%

  }

  .border-right {
    border-right: 1px solid grey;
  }
 
  .footer-text h1,h6, h5 {
    color: white;
  }
  .footer-text li a{
    color: white;
  }

 .fab {
    font-size: 28px;
    color: white;
  }

  footer {
   margin-top: 100px;
  }

  .service:hover {
    transform: scale(1.1); 
  }

  .service {
    transition: transform .2s;
  }

  .appointment-form form {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    color: black;
  }

  form {
    width: 100%;
  }

  
  @media (max-width: 767px) {
    .card {
      margin: 0 auto;
      margin-bottom: 40px;
    }
  
    .register-form {
      margin: 0 auto;
      width: 100%;
      padding: 20px;
      border:1px solid whitesmoke;
    }

    .navbar-brand {
      margin-left: -12px;
    }

  .service h1,h4 {
    width: 80%;
    margin: 0 auto;
    font-family: 'montserrat';
  }

  .appointment-form form {
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    color: black;
  }
  }
  

  .hr {
  border: 1px solid orangered;
  border-radius: 1px;
  }