{% extends 'base.html' %} 
{% load static %}

{% block content %}
<div class = "bg-info top-logo">
  <h1>Home Page</h1>
  <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
</div> <br>
  <div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6">
          <div data-aos="fade-left" data-aos-duration="3000">
            <h1>Welcome <br />to our Ultra modern Clinic.</h1>
            <h4 class="lead home-text" >
              Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit
              amet, consectetur adipisicing elit, sed do eiusmod 
              veni. 
            </h4>
            <ul class = "home-text">
              <li>Lorem ipsum dolor sit amet</li>
              <li>incididunt ut labore et dolore</li>
              <li>Lorem ipsum dolor sit amet</li>
            </ul>
            <a href=""
              ><input
                type="submit"
                value="About Us"
                class="btn btn-info btn-lg"
                type="button"
            /></a>
          </div><br><br>
        </div>
        <div class="col-xs-6 col-lg-6">
          <div>
            <div data-aos="fade-down" data-aos-duration="3000">
              <img
                src= "{% static 'images/hero1.png' %}"
                alt=""
                style = "width: 100%"
              />
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
  <br /><br /><br />

  <p class="text-center">
    <button
      class="btn btn-info btn-lg"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      More Information
    </button>
  </p>
  <br />
  <div class="collapse" id="collapseExample">
    <h1 class="text-center" style="font-size: 50px">Meet Our Doctors</h1>
    <h6 class="text-center lead" style="color: white; font-size: 20px">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque inventore
      consectetur.
    </h6>
    <br />
    <div class="container">
      <div class="row">
        {% for doctor in doctors %}
        <div class="col-md-4">
          <div class="card" style="width: 22rem">
            <img src="{{doctor.image.url}}" alt="" style="width: 100%" />
            <div class="card-body">
              <h3 class="text-center">{{doctor.name}}</h3>
              <hr />
              <h5 class="text-center lead home-text">
                <strong >{{doctor.specialty}}</strong>
              </h5>
  
              <h5 class="text-center">
                <a href="{% url 'doctor_detail' doctor.id %}"
                  ><input
                    type="submit"
                    value="Learn More"
                    class="btn btn-info btn-lg"
                    type="button"
                /></a>
              </h5>
            </div>
          </div>
          <br /><br />
        </div>
        {% endfor %}
      </div>
    </div> 
  </div>
  <br /><br /><br />
</div>
<section
  class="bg-info"
  style="width: 100%; height: 80px; color: white !important"
></section>

{% endblock %}
