{% extends 'base.html' %} 
{% load static %}

{% block content %}
<div class = "bg-info top-logo">
    <h1>Find Us</h1>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
  </div> 
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15858.940149177444!2d3.4131896236529635!3d6.4280766984715925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf53280e7648d%3A0x4d01e5de6b847fe5!2sVictoria%20Island%2C%20Lagos!5e0!3m2!1sen!2sng!4v1601152344116!5m2!1sen!2sng" width="1500" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
{% endblock %}